<?xml version="1.0"?>
<launch>
    <include file="$(find diablo_navigation)/launch/gmapping.launch"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="cmd_vel" to="diablo/vel_cmd"/>
        
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find diablo_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find diablo_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find diablo_navigation)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find diablo_navigation)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find diablo_navigation)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find diablo_navigation)/param/dwa_local_planner_params.yaml" command="load" />
    </node>

    <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
        <param name="frame_id" value="odom"/>
        <remap from="cloud_in" to="/velodyne_points"/>
        <param name="filter_ground" value="true"/>
        <param name="ground_filter/plane_distance" value="0.2"/>
    </node>

    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
        <param name="robot_base_frame" value="base_footprint"/>
        <param name="costmap_topic" value="map"/>
        <param name="costmap_updates_topic" value="map_updates"/>
        <param name="visualize" value="true"/>
        <param name="planner_frequency" value="0.33"/>
        <param name="progress_timeout" value="30.0"/>
        <param name="potential_scale" value="3.0"/>
        <param name="orientation_scale" value="0.0"/>
        <param name="gain_scale" value="1.0"/>
        <param name="transform_tolerance" value="0.3"/>
        <param name="min_frontier_size" value="0.75"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diablo_navigation)/rviz/octomap.rviz"/>
</launch>